
html{scroll-behavior:smooth}
body{margin:0;font-family:Arial;background:#0f2027;color:#eee}
header{background:#111;padding:15px}
nav a{color:#00c6ff;margin:10px;text-decoration:none;font-weight:bold}
nav a:hover{text-shadow:0 0 8px #00c6ff}
h1{text-align:center;text-shadow:0 0 10px #00c6ff}
p{max-width:900px;margin:20px auto;font-size:18px}
img{display:block;margin:20px auto;max-width:80%;border-radius:12px;box-shadow:0 0 25px #000}
iframe{display:block;margin:30px auto;border-radius:12px}
footer{text-align:center;padding:20px;border-top:1px solid #333;margin-top:40px}
.card{background:#162a33;padding:25px;border-radius:15px;margin:30px auto;max-width:900px}
